@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
  height: calc(100vh - 50px);


}

.colores {
  justify-content: center;
  display: flex;

}

.pagina1 {
  width: 33.3%;
  border: 1px solid grey;
  text-align: center;
}

.color {
  background-color: #9a3232;
  width: 22px;
  height: 22px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.color:nth-child(1) {
  background-color: rgb(23, 87, 87);
}

.color:nth-child(2) {
  background-color: rgb(178, 20, 26);
}

.color:nth-child(3) {
  background-color: rgb(33, 101, 44);
}

.color:nth-child(4) {
  background-color: rgb(141, 20, 182);
}